img {
  object-fit: cover;
  border-radius: var(--rounded-3xl);
}

picture {
  border-radius: var(--rounded-3xl);
}

.ampersand {
  /* TODO */
}

.pink-bkg {
  background-color: var(--color-primary);
}
