img {
  object-fit: cover;
  border-radius: var(--rounded-3xl);
}

picture {
  border-radius: var(--rounded-3xl);
}

video {
  border-radius: var(--rounded-3xl);
}

img[loading="lazy"] {
  opacity: 0;
  will-change: opacity;
}

img[loading="lazy"][data-lazy-loaded="true"] {
  transition: opacity 1s ease;
  opacity: 1;
}
