:root {
  /* Text colors */
  --h2-color: var(--color-secondary);
  --h3-color: var(--color-secondary);
  --h1-color: var(--color-secondary);
  --body-color: var(--color-secondary);

  /* Font sizes */
  --h1-font-size: clamp(2rem, 1vw + 3rem, 8rem);
  --h2-font-size: clamp(1.5rem, 1vw + 2rem, 4rem);
  --h3-font-size: clamp(1.2rem, 1vw + 0.25rem, 1.6rem);
  --body-font-size: clamp(1rem, 1vw + 0.25rem, 1.6rem);
}

@font-face {
  font-family: "Urbanpolis";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: oblique;
  font-weight: 300;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-LightOblique.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: oblique;
  font-weight: 400;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-RegularOblique.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: oblique;
  font-weight: 700;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-BoldOblique.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-Black.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Urbanpolis";
  font-style: oblique;
  font-weight: 900;
  src: url("/assets/fonts/Urbanpolis/Urbanpolis-BlackOblique.woff2") format("woff2");
  font-display: swap;
}

h1,
h2,
h3 {
  color: inherit;
  font-family: "Urbanpolis", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1em;
}
h1 {
  font-size: var(--h1-font-size);
  font-weight: 700;
  padding-block-end: var(--space-md);
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
  padding-block-end: var(--space-md);
}
h3 {
  font-size: var(--h3-font-size);
  font-weight: 900;
  padding-block-end: var(--space-sm);
}
p,
a,
li,
form,
details {
  color: inherit;
  font-family: "Urbanpolis", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: var(--body-font-size);
}

h1,
h2,
h3,
p {
  cursor: default;
}

.highlight {
  color: var(--color-primary);
}
