{% comment %}
  Usage: {% include "icon.liquid", name: "sun", class: "icon sun-icon", id: "sun-icon" title: "Activate light mode." %}
  For a decorative icon (hidden from screen readers):
  {% include "icon.liquid", name: "sun", class: "icon", aria_hidden: true %}
{% endcomment %}

<span
  {% if id %} id="{{ id }}" {% endif %}
  class="{{ class }}"
  {% if tooltip %} title="{{ tooltip }}" {% endif %}
  {% if aria_hidden %} aria-hidden="true" {% endif %}
>
  {% include "icons/{{ name | escape }}.svg" %}
</span>

{% comment %} TODO - stop this breaking if svg file does not exist {% endcomment %}
