---
layout: base
title: Corporate Charter Services | Reliable Transport for Business Events
description: At EV Tours & Charter, we provide flexible, professional transport for corporate events, conferences, and team-building activities. Trust us to get your team to their destination on time and in comfort, with personalised service every step of the way.
---

<section class="corporate video-bkg">
  <div class="foreground">
    <h1>{{ corporate.hero.heading }}</h1>
    <p>{{ corporate.hero.content }}</p>
    <div class="buttons">
      <a
      href="{{ corporate.hero.buttons.primary.link }}"
      class="btn btn-primary"
      >{{ corporate.hero.buttons.primary.text }}</a
      >
      <a
      href="{{ corporate.hero.buttons.secondary.link }}"
      class="btn btn-secondary"
      >{{ corporate.hero.buttons.secondary.text }}</a
      >
    </div>
  </div>
  <div class="background">
  </div>
</section>

{% for section in corporate.sections %}
<section class="corporate hero lines" id="{{ section.id }}">
  <div class="copy">
    <h2>{{ section.heading }}</h2>
    <p>{{ section.content }}</p>
    <div class="buttons">
      <a
      href="{{ section.buttons.primary.link }}"
      class="btn btn-primary form-link-btn"
      data-value="{{ section.id }}"
      >{{ section.buttons.primary.text }}</a
      >
      <a
      href="{{ section.buttons.secondary.link }}"
      class="btn btn-secondary form-link-btn"
      data-value="{{ section.id }}"
      >{{ section.buttons.secondary.text }}</a
      >
    </div>
  </div>
  <div class="visual">
    <img
      src="{{ section.image.src }}"
      alt="{{ section.image.alt }}"
      sizes="100vw"
      loading="lazy"
    />
</section>
{% endfor %}

<section
  class="pink-bkg form-container"
  id="quote"
>
  <h2>Enquiry form</h2>
  <p>Fill in the enquiry form with as much detail as possible to receive your quote.</p>
  {% include 'partials/_form-corporate.html' %}
</section>
