---
layout: base
title: School Charter Services | Safe & Reliable Transport for Students
description: EV Tours & Charter offers reliable and safe school charter services, from daily routes to excursions and camps. Our family-owned business ensures your students travel in comfort with our personalised and friendly service, every time.
---

<section class="schools video-bkg">
  <div class="foreground">
    <h1>{{ schools.hero.h1 }}</h1>
    <p>{{ schools.hero.p }}</p>
    <div class="buttons">
      <a
      href="{{ schools.hero.buttons.primary.link }}"
      class="btn btn-primary"
      >{{ schools.hero.buttons.primary.text }}</a
      >
      <a
      href="{{ schools.hero.buttons.secondary.link }}"
      class="btn btn-secondary"
      >{{ schools.hero.buttons.secondary.text }}</a
      >
    </div>
  </div>
  <div class="background">
  </div>
</section>

{% for section in schools.sections %}
<section class="schools hero lines" id="{{ section.id }}">
  <div class="copy">
    <h2>{{ section.heading }}</h2>
    <p>{{ section.content }}</p>
    <div class="buttons">
      <a
      href="{{ section.buttons.primary.link }}"
      class="btn btn-primary form-link-btn"
      data-value="{{ section.id }}"
      >{{ section.buttons.primary.text }}</a
      >
      <!-- <a
      href="{{ section.buttons.primary.link }}"
      class="btn btn-secondary"
      >{{ section.buttons.primary.text }}</a
      > -->
    </div>
  </div>
  <div class="visual">
    <img
      src="{{ section.image.src }}"
      alt="{{ section.image.alt }}"
      sizes="100vw"
      loading="lazy"
    />
</section>
{% endfor %}

<section
  class="pink-bkg form-container"
  id="quote"
>
  <h2>Enquiry form</h2>
  <p>Fill in the enquiry form with as much detail as possible to receive your quote.</p>
  {% include 'partials/_form-school.html' %}
</section>
