.story {
  background-color: var(--color-secondary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-point {
  max-width: 550px;
}

.story-point:nth-of-type(odd) {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}
.story-point:nth-of-type(even) {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

@media screen and (width > 768px) {
  .story-point:nth-of-type(1) {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .story-point:nth-of-type(2) {
    animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .story-point:nth-of-type(3) {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
}

.story h2 {
  margin-block-end: var(--space-lg);
  text-align: center;
}

.story > p {
  margin-block-end: var(--space-lg);
  align-self: center;
  max-width: 80ch;
}

.story-point .icon,
.story-point picture {
  margin-block-end: var(--space-md);
}

.story-point p + p {
  margin-block-start: var(--space-sm);
}

.about-difference {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
}

.about-difference h2 {
  margin-block-end: var(--space-lg);
  text-align: center;
}

.dark-mode .about-difference h2,
.dark-mode .about-difference h3 {
  color: var(--black);
}

.dark-mode .about-difference p {
  color: var(--zinc-700);
}

.blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg) var(--space-lg);
}

@media screen and (width > 768px) {
  .blocks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (width > 768px) {
  .story {
    padding-inline: var(--space-lg);
  }
}
@media screen and (width > 768px) {
  .about-difference {
    padding-inline: var(--space-lg);
  }
}
