.fleet-wrapper {
  margin-inline: auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  justify-content: center;
  align-items: center;
}

@media screen and (width > 1280px) {
  .fleet-wrapper {
    gap: var(--space-xl);
  }
}
@media screen and (width > 1440px) {
  .fleet-wrapper {
    gap: var(--space-2xl);
  }
}

.story {
  background-color: var(--color-secondary-light);
  display: flex;
  flex-direction: column;
}

.story h2 {
  margin-block-end: var(--space-lg);
  text-align: center;
}

.story > p {
  margin-block-end: var(--space-lg);
  align-self: center;
  max-width: 80ch;
}

.story .icon {
  margin-block-end: var(--space-md);
}

.story p + p {
  margin-block-start: var(--space-sm);
}

.about-difference {
  background-color: var(--color-primary);
}

.about-difference h2 {
  margin-block-end: var(--space-lg);
  text-align: center;
}

.dark-mode .about-difference h2,
.dark-mode .about-difference h3 {
  color: var(--black);
}

.dark-mode .about-difference p {
  color: var(--zinc-700);
}

.blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg) var(--space-lg);
}

.block {
  display: grid;
  gap: var(--space-md);
  /* justify-content: center;
  align-items: center; */
  grid-template-rows: min(fit-content 1fr) min(fit-content 1fr);
  grid-template-areas:
    "image"
    "content";
}

.block picture {
  grid-area: image;
}
.block .content {
  grid-area: content;
}

.block .content p + p {
  margin-block-start: var(--space-sm);
}

@media screen and (width > 768px) {
  .blocks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (width > 768px) {
  .story {
    padding-inline: var(--space-lg);
  }
}
@media screen and (width > 768px) {
  .about-difference {
    padding-inline: var(--space-lg);
  }
}
