.vehicle-wrapper {
  max-width: 2000px;
  margin-inline: auto;
}

.vehicle-wrapper > h2,
.vehicle-wrapper > p {
  text-align: center;
}

.vehicle-wrapper > p {
  margin-block-end: var(--space-md);
}

.buses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-lg) var(--space-md);
}

.buses .features {
  list-style: none;
  padding-inline-start: 0px;
  margin-inline-start: 0px;
  margin-block-end: var(--space-md);
  padding-inline: var(--space-sm);
}

.buses > li {
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--color-primary-light);
  border-radius: var(--rounded-3xl);
  padding: var(--space-md);

  animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.buses .heading {
  margin-block-start: var(--space-sm);
  padding: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buses .heading h3 {
  margin: 0;
}
.buses .heading .capacity {
  display: flex;
  align-items: center;
}
.buses .heading .capacity span {
  margin-inline-start: var(--space-xs);
}

.buses hr {
  border: 1px solid var(--color-primary);
  opacity: 20%;
  margin-block-end: var(--space-sm);
}

.buses .features > li > span {
  justify-self: center;
  align-self: center;
  margin-inline-end: var(--space-sm);
}

.buses .features > li {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.buses > li img {
  aspect-ratio: 3/2;
}

.buses > li .image-hover {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
}
.buses > li picture:nth-of-type(1) {
  grid-area: 1 / 1;
  opacity: 100%;
  transition: oapcity 400ms linear;
}
.buses > li picture:nth-of-type(2) {
  grid-area: 1 / 1;
  opacity: 0;
  transition: oapcity 400ms linear;
}
.buses > li .image-hover:hover picture:nth-of-type(1) {
  opacity: 0;
}
.buses > li .image-hover:hover picture:nth-of-type(2) {
  opacity: 100%;
}
.buses > li .image-hover:focus picture:nth-of-type(1) {
  opacity: 0;
}
.buses > li .image-hover:focus picture:nth-of-type(2) {
  opacity: 100%;
}
.buses > li .image-hover span {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

@media screen and (width > 1024px) {
  .buses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width > 1480px) {
  .buses {
    grid-template-columns: repeat(4, 1fr);
  }
}

.buses > li > a {
  margin-block-start: auto;
}
