.vehicle-wrapper {
  max-width: 2000px;
  margin-inline: auto;
}

.vehicle-wrapper > h2,
.vehicle-wrapper > p {
  text-align: center;
}

.vehicle-wrapper > p {
  margin-block-end: var(--space-md);
}

.buses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-lg) var(--space-md);
}

.buses .features {
  list-style: disc;
  margin-inline-start: var(--space-md);
  margin-block-end: var(--space-md);
}

.buses > li {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--color-primary-light);
  border-radius: var(--rounded-3xl);
  padding: var(--space-md);

  animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.buses > li img {
  aspect-ratio: 3/2;
}

@media screen and (width > 1024px) {
  .buses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width > 1480px) {
  .buses {
    grid-template-columns: repeat(4, 1fr);
  }
}

.buses > li > a {
  /* align-self: center; */
  margin-block-start: auto;
}

.buses li h3 {
  margin-block-start: var(--space-md);
}
