.services-hero {
  margin-inline: auto;
  margin-block-end: var(--space-lg);
}

.services-hero .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-lg) var(--space-sm);
}
.services-hero .align-center {
  /* align-self: center; */
}

.services-hero img {
  justify-self: center;
  margin-inline: var(--space-sm);
}
.heading {
  /* margin-inline-start: */
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-hero h2 {
  /* text-align: center; */
  max-width: 24ch;
}

.services-hero p {
  max-width: 48ch;
  margin-block-end: var(--space-md);
}

@media screen and (width > 1200px) {
  .services-hero {
    margin-block-end: var(--space-xl);
  }
}

.difference {
  background-color: var(--color-primary);
  padding-block: unset;
  padding-inline: unset;
  display: flex;
  flex-direction: row;
  /* gap: var(--space-sm); */
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.difference .image {
  max-width: 55%;
  max-height: 800px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.difference .image img {
  object-fit: contain;
}

@media screen and (width > 768px) {
  .difference {
    flex-wrap: nowrap;
  }
  .difference .image {
    align-self: flex-end;
  }
}

.difference .content {
  padding-inline: var(--space-md);
  padding-block-start: var(--space-lg);
}

.difference .content ul {
  padding-block-start: var(--space-md);
}

.difference .content p {
  max-width: 55ch;
  padding-block-end: var(--space-md);
}

.testimonials {
  padding: var(--space-md);
  background-color: var(--color-primary-light);
  position: relative;
  min-height: 200px;
}

.testimonials-wrapper {
  overflow-x: hidden;
}

.testimonials ul {
  display: flex;
  gap: var(--space-md);

  position: absolute;
  animation: scroll-left 30s linear infinite;
}

.testimonials li {
  min-width: 300px;
}

.testimonials .stars {
  margin-block-end: var(--space-sm);
}
