.services-hero {
  margin-inline: auto;
  margin-block-end: var(--space-lg);
}

.services-hero .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-lg) var(--space-sm);
}
.services-hero .copy {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.services-hero picture {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.services-hero img {
  justify-self: center;
  margin-inline: var(--space-sm);
}

.heading {
  /* margin-inline-start: */
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-hero h2 {
  /* text-align: center; */
  max-width: 24ch;
}

.services-hero p {
  max-width: 48ch;
  margin-block-end: var(--space-md);
}

@media screen and (width > 1200px) {
  .services-hero {
    margin-block-end: var(--space-xl);
  }
}

.index-services li:nth-of-type(odd) {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}
.index-services li:nth-of-type(even) {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

@media screen and (width > 900px) {
  .index-services li:nth-of-type(1) {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .index-services li:nth-of-type(2) {
    animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .index-services li:nth-of-type(3) {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .index-services li:nth-of-type(4) {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .index-services li:nth-of-type(5) {
    animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
  .index-services li:nth-of-type(6) {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    animation-timeline: view();
    animation-range: entry;
  }
}

.difference {
  background-color: var(--color-primary);
  padding-block: unset;
  padding-inline: unset;
  display: flex;
  gap: var(--space-sm);
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.dark-mode .difference h2,
.dark-mode .difference h3,
.dark-mode .difference p {
  color: var(--black);
}

@media screen and (width > 768px) {
  .difference {
    flex-wrap: nowrap;
  }
}

.difference > * {
  display: inline-block;
}

.difference picture {
  max-width: 500px;

  animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.difference .content {
  align-self: center;
  justify-self: center;
  padding: var(--space-md);
}

.difference .content ul {
  padding-block-start: var(--space-md);
}

.difference .content ul li {
  display: flex;
  gap: 1rem;
}

.difference .content ul li span {
  padding-block-start: var(--space-xs);
}

.difference .content p {
  max-width: 55ch;
  padding-block-end: var(--space-md);
}

.testimonials {
  background-color: var(--color-primary-light);
}

.testimonials h2 {
  text-align: center;
}

.testimonials li {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: var(--rounded-3xl);
  padding: var(--space-sm);
  min-width: 250px;
}

.testimonials .stars {
  display: flex;
  justify-content: center;
  margin-block-end: var(--space-sm);
}

@media screen and (width > 1280px) {
  .testimonials {
    min-height: 260px;
  }
}

.index-cta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
    "content";
  gap: var(--space-md) var(--space-sm);
}

@media screen and (width > 880px) {
  .index-cta {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
  }
}

.index-cta .copy {
  grid-area: content;
  max-width: fit-content;
  justify-self: center;
  /* padding: var(--space-md); */
  align-content: center;

  animation: slide-in-right 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.index-cta picture {
  grid-area: image;

  animation: slide-in-left 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  animation-timeline: view();
  animation-range: entry;
}

.index-cta .copy p {
  max-width: 60ch;
}

.index-cta .copy p + p {
  margin-block-start: var(--space-md);
}

.index-cta .copy .buttons {
  margin-block-start: var(--space-md);
}
