.sp-wrapper {
  margin-inline: auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  justify-content: center;
  align-items: center;
}

@media screen and (width > 1280px) {
  .sp-wrapper {
    gap: var(--space-xl);
  }
}
@media screen and (width > 1440px) {
  .sp-wrapper {
    gap: var(--space-2xl);
  }
}

.sp-title {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: var(--space-lg) var(--space-md);
  justify-content: center;
  align-items: center;
  max-width: max-content;
  text-align: center;
}

@media screen and (width > 1024px) {
  .sp-title {
    flex-direction: row;
    gap: var(--space-lg);
    text-align: unset;
  }
}

.sp-title > div {
  min-width: fit-content;
  max-height: max-content;
}

.sp-title picture {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.sp-title img {
  height: auto;
  object-fit: cover;
}

.sp-title p {
  text-align: left;
  max-width: 65ch;
}

.sp-title p + p {
  margin-block-start: var(--space-sm);
}

.sp-title .buttons {
  justify-content: center;
  margin-block-start: var(--space-md);
}

@media screen and (width > 1024px) {
  .sp-title .buttons {
    justify-content: unset;
  }
}

.sp-wrapper > ul {
  /* margin-inline: auto; */
  max-width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg) var(--space-sm);
  justify-content: center;
}

.sp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-md);
  /* padding-inline-end: var(--space-md); */
  /* border: 1px solid var(--color-primary); */
  border-radius: var(--rounded-3xl);
}

.sp-card h3 {
  height: fit-content;
  align-self: center;
  padding-block-end: 0px;
}

.sp-card a {
  align-self: center;
}

.sp-card span {
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-md);
  border-radius: var(--rounded-full);
  padding: var(--space-md);
  max-width: 120px;
  max-height: 120px;
  align-content: center;
}

.sp-card span:hover {
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transform: translate(0, -2px);
  transition: filter 250ms;
  filter: brightness(102%);
}

@media screen and (width > 500px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-lg) var(--space-lg);
  }
}
@media screen and (width > 1024px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg) var(--space-md);
  }
}
@media screen and (width > 1280px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg) var(--space-lg);
  }
}
@media screen and (width > 1440px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg) var(--space-2xl);
  }
}

section.side-by-side {
  padding-inline: unset;
  padding-block: unset;
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image" "content";
  background-color: var(--color-secondary-light);
}

@media screen and (width > 880px) {
  .side-by-side {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
  }
}

.side-by-side:nth-of-type(odd) {
  background-color: var(--color-primary-light);
}

@media screen and (width > 880px) {
  .side-by-side:nth-of-type(even) {
    grid-template-areas: "content image";
  }
}

.side-by-side > picture {
  grid-area: image;
  border-radius: unset;
  width: 100%;
  height: 100%;
  /* min-height: 1000px; */
}

@media screen and (width > 1200px) {
  .side-by-side > picture {
    max-height: 1000px;
    grid-template-areas: "content image";
  }
}

.side-by-side > picture img {
  border-radius: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-by-side .content {
  /* margin-inline: auto; */
  padding-inline: var(--space-sm);
  padding-block: var(--space-xl);
  grid-area: content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  container-type: inline-size;
}

.side-by-side .content p {
  max-width: 55ch;
}

.side-by-side .content ul {
  margin-block-start: var(--space-lg);
  /* padding-inline-start: var(--space-md); */
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md) var(--space-sm);
  /* padding-inline: var(--space-lg); */
}

@container (width > 450px) {
  .side-by-side .content ul {
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: var(--space-sm) var(--space-md); */
  }
}

@media screen and (width >= 768px) {
  .side-by-side .content ul {
  }
}

@media screen and (width > 1600px) {
  .side-by-side .content ul {
    gap: var(--space-md) var(--space-lg);
  }
}

.side-by-side .content li {
  background-color: var(--color-primary);
  text-align: center;
  border-radius: var(--rounded-3xl);
  box-shadow: var(--shadow-md);
}

.side-by-side:nth-of-type(odd) .content li {
  background-color: var(--color-primary);
}

.side-by-side .content li picture {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
}

.side-by-side .content li img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.side-by-side .content li div {
  padding: var(--space-sm);
}

.side-by-side .content li p {
  margin-block-start: auto;
}

.dark-mode .side-by-side .content li h3 {
  color: var(--black);
}

.dark-mode .side-by-side .content li p {
  color: var(--zinc-700);
}

.services-cta > p + p {
  margin-block-start: var(--space-sm);
}

.side-by-side .content li p:hover {
  cursor: pointer;
}
