.sp-wrapper {
  margin-inline: auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

@media screen and (width > 1280px) {
  .sp-wrapper {
    gap: var(--space-xl);
  }
}
@media screen and (width > 1440px) {
  .sp-wrapper {
    gap: var(--space-2xl);
  }
}

.sp-title {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: var(--space-md);
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-inline: auto;
  text-align: center;
}

@media screen and (width > 1024px) {
  .sp-title {
    flex-direction: row;
    gap: var(--space-lg);
    text-align: unset;
  }
}
@media screen and (width > 1024px) {
  .sp-title {
    flex-direction: row;
  }
}

.sp-title img {
  max-width: 350px;
  height: auto;
}

.sp-title > div {
  max-height: max-content;
}

.sp-title p {
  text-align: left;
  max-width: 65ch;
}

.sp-wrapper > ul {
  margin-inline: auto;
  max-width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg) var(--space-sm);
  justify-content: center;
}

.sp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-md);
  /* padding-inline-end: var(--space-md); */
  /* border: 1px solid var(--color-primary); */
  border-radius: var(--rounded-3xl);
}

.sp-card h3 {
  height: fit-content;
  align-self: center;
  padding-block-end: 0px;
}

.sp-card span {
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-md);
  border-radius: 9999px;
  padding: var(--space-md);
  max-width: 120px;
  align-self: center;
}

@media screen and (width > 500px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-lg) var(--space-lg);
  }
}
@media screen and (width > 1024px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg) var(--space-md);
  }
}
@media screen and (width > 1280px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg) var(--space-lg);
  }
}
@media screen and (width > 1440px) {
  .sp-wrapper > ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg) var(--space-2xl);
  }
}

section.side-by-side {
  padding-inline: unset;
  padding-block: unset;
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image" "content";
  background-color: var(--color-secondary-light);
}

@media screen and (width > 880px) {
  .side-by-side {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
  }
}

.side-by-side picture {
  grid-area: image;
  border-radius: unset;
}

.side-by-side picture img {
  border-radius: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-by-side .content {
  margin-inline: auto;
  padding-inline: var(--space-sm);
  padding-block: var(--space-lg);
  grid-area: content;
  align-content: center;
}

.side-by-side .content p {
  max-width: 65ch;
}

.side-by-side .content ul {
  margin-block-start: var(--space-md);
  padding-inline-start: var(--space-md);
}

.side-by-side .content li {
  list-style: disc;
  padding-inline-start: 1rem !important;
}

.side-by-side picture {
  width: 100%;
  height: 100%;
}

.side-by-side:nth-of-type(odd) {
  background-color: var(--color-primary);
}

@media screen and (width > 880px) {
  .side-by-side:nth-of-type(even) {
    grid-template-areas: "content image";
  }
}

.services-cta > p + p {
  margin-block-start: var(--space-sm);
}
