.width-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--space-sm);
}

.card {
  padding: var(--space-md);
  border-radius: var(--rounded-3xl);
  background-color: var(--color-primary-light);
  transition: all 100ms linear;
}

.card p + p {
  margin-block-start: var(--space-sm);
}
.card p + a {
  display: block;
  margin-block-start: var(--space-sm);
}

.card-clickable:hover {
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transform: translate(0, -2px);
  transition: filter 250ms;
  filter: brightness(102%);
}

.card-clickable:active {
  box-shadow: none;
  transform: translate(0, 2px);
}

.card-clickable *:hover {
  cursor: pointer;
}

.card span {
  margin-block-end: var(--space-sm);
}

@media screen and (width > 500px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width > 900px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-md);
  }
  .card {
    padding: var(--space-lg);
  }
}
