.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--space-sm);
  padding: none;
}

.card {
  box-shadow: var(--shadow-md);
  padding: var(--space-md);
  border-radius: var(--rounded-3xl);
  background-color: var(--color-primary-light);
  transition: all 100ms linear;
}

.card p + p {
  margin-block-start: var(--space-sm);
}

.card p + a {
  display: block;
  margin-block-start: var(--space-sm);
}

.card-clickable > a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.card-clickable:hover {
  cursor: pointer;
  box-shadow: var(--shadow-lg);
  transform: translate(0, -2px);
  transition: background-color 250ms;
  background-color: var(--azalea-100);
}

.card-clickable:hover svg {
  transition: fill 250ms;
  fill: var(--azalea-300);
}

.card-clickable:active {
  box-shadow: none;
  transform: translate(0, 2px);
}

.card-clickable *:hover {
  cursor: pointer;
}

.card span {
  max-width: min-content;
  display: flex;
  margin-block-end: var(--space-md);
  align-items: center;
  justify-content: center;
}

@media screen and (width > 400px) {
  .cards[role="list"] {
    padding-inline: var(--space-md);
  }
}
@media screen and (width > 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width > 768) {
  .cards[role="list"] {
    padding-inline: var(--space-lg);
  }
}

@media screen and (width > 900px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-md);
  }
  .card {
    padding: var(--space-md);
  }
}

@media screen and (width > 1100) {
  .cards {
    padding-inline: var(--space-lg) !important;
  }
}
