.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.carousel {
  flex: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-block: var(--space-sm);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel ul {
  display: flex;
  gap: var(--space-sm);
  min-width: 0; /* Ensures it doesn't overflow its parent flex container */
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel li {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 300px;
  min-height: 150px;
}

.carousel li p {
  text-align: center;
  /* padding: 1rem; */
}

.carousel-wrapper .control {
  height: 150px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  justify-self: center;
  /* gap: var(--space-xs); */
  margin-block-start: var(--space-sm);
  width: fit-content;
  max-width: 200px;
  margin-inline: var(--space-sm);
  overflow: hidden;
}

.carousel-indicators > .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--zinc-300);
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

/* fallback spacing for Safari < 14 */
.carousel-indicators > .dot + .dot {
  margin-left: var(--space-xs);
}

.carousel-indicators > .dot.active {
  background: var(--azalea-200);
}

@media screen and (width > 1280px) {
  .carousel-indicators {
    margin-block-start: var(--space-md);
  }
}
