footer {
  padding: var(--space-sm);
  justify-content: space-between;
  background-color: var(--color-secondary);
  color: var(--white);
}

footer img {
  width: 330px;
  height: 60px;
  object-fit: contain;
}

footer div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm);
}

footer .details {
  padding: var(--space-sm);
}

footer .rocketzip {
  text-align: end;
}

footer .rocketzip a:hover {
  color: var(--color-primary);
}
