footer {
  padding: var(--space-xs);
  justify-content: space-between;
  background-color: var(--color-secondary);
  color: var(--white);
  position: relative;
}

footer p {
  color: var(--white);
}

footer .back-to-top {
  position: absolute;
  top: var(--space-md);
  right: var(--space-sm);
}

footer img {
  padding-inline-start: var(--space-xs);
  width: 250px;
  height: 60px;
  object-fit: contain;
}

footer .details {
  padding: var(--space-sm);
}

footer .details a {
  text-decoration: none;
}

footer .details a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

footer .details div {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

footer .details div + div {
  margin-block-start: var(--space-xs);
}

footer .details div:nth-of-type(1) {
  margin-block-start: var(--space-md);
}

footer .details div:nth-of-type(3) {
  margin-block-end: var(--space-md);
}

footer .rocketzip {
  margin-block-start: var(--space-md);
  opacity: 50%;
  text-align: end;
}

footer .rocketzip:hover {
  opacity: 100%;
}

@media screen and (width > 450px) {
  footer img {
    width: 330px;
  }
}

@media screen and (width > 500px) {
  footer {
    padding: var(--space-sm);
  }
}

@media screen and (width > 880px) {
  footer {
    padding: var(--space-lg);
  }
}
