.form {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.form input,
.form select,
.form textarea {
  line-height: 3rem;
  border: 1px solid var(--black);
  border-radius: var(--rounded-md);
  width: 100%;
  background-color: var(--white);
  color: inherit;
}

.form textarea {
  resize: none;
}

.form select {
  color: inherit;
}

.form input[type="date"],
.form select {
  color: inherit;
  border: 1px solid var(--black);
  background-color: var(--white);
  height: 3.5rem;
  line-height: 3rem;
}

.form legend {
  padding-inline: 0px;
}

.form button {
  padding-block: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

fieldset {
  border: 1px solid var(--border-color);
}

.cross::before {
  position: relative;
}

.cross::before {
  font-family: "Segoe UI Symbol";
  position: absolute;
  right: 5px;
  top: 35px;
  padding: 0.3rem;
  content: "✗";
  color: #fe5f55ed;
}

.tick::before {
  font-family: "Segoe UI Symbol";
  position: absolute;
  right: 5px;
  top: 35px;
  padding: 0.3rem;
  content: "✓";
  color: #157f1f;
}

.bump-left::before {
  right: 20px;
}

.bump-up::before {
  top: 25px;
}

.formError {
  padding: 0.3rem;
  width: 100%;
  color: var(--body-color);
  font-weight: bold;
  border-radius: 0 0 0.25rem 0.25rem;
  display: block;
  background-color: var(--color-primary);
}

.form > * {
  margin-bottom: 1rem;
}

.form-item {
  margin-block-start: 2rem;
}

.form-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-items + .form-items {
  margin-block-start: 2rem;
}

.form-items > div,
fieldset > div {
  position: relative;
}

fieldset > legend {
  font-weight: bold;
}

form .required {
  margin-inline-start: 1.2rem;
}

form .widget {
  width: 100%;
  display: flex;
  justify-content: center;
}

form .flex-col {
  display: flex;
  flex-direction: column;
}

textarea {
  /* position: relative; */
}

form button {
  align-self: center;
}

/* if using cloufdlare turnstile - not needed on netlify with recaptcha */
/* #turnstile {
  justify-content: center;
} */

.form input[type="time"],
.form input[type="date"] {
  min-height: 3rem;
  line-height: 3rem;
  width: 100%;
  max-height: max-content;
}
