header {
  padding: var(--space-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--white);
}

header img {
  width: 330px;
  height: 60px;
  object-fit: contain;
}

header .header-buttons {
  display: flex;
  gap: var(--space-sm);
}
