header {
  padding: var(--space-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--white);
}

header img {
  width: 330px;
  height: 60px;
  object-fit: contain;
}

header .header-buttons {
  display: flex;
  gap: var(--space-md);
  align-items: center;
  justify-content: center;
}
header .nav-cta {
  padding-inline-start: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (width < 1000px) {
  header .nav-cta {
    display: none;
  }
}
