header {
  padding: var(--space-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--white);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

header nav ul li a {
  text-decoration: none;
  color: var(--white);
}

header nav ul li a:visited {
  color: var(--white);
}

header nav ul li a:hover {
  color: var(--color-primary);
}

header nav ul li a:active {
  color: var(--color-primary);
}
