.hero {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-lg) var(--space-md);
  justify-content: center;
  align-items: center;
}

.hero.reverse {
  flex-direction: row-reverse;
}

.hero .copy {
  max-width: 650px;
}

.hero .copy h1 {
  /* max-width: 16ch; */
}

.hero .copy p {
  max-width: 75ch;
}

.hero .copy p + p {
  padding-block-start: var(--space-sm);
}

.hero .copy .buttons {
  margin-block-start: var(--space-md);
}
.hero .visual picture,
.hero .visual video {
  width: 100%;
  max-width: 1280px;
}

.hero:first-of-type .copy {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}
.hero:first-of-type .visual picture,
.hero:first-of-type .visual video {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}

@media screen and (width >= 1024px) {
  .hero {
    flex-wrap: unset;
  }
}
