/* <section class="hero">
    <div class="copy">
      <h1>
        <span class="highlight"></span>
      </h1>
      <p></p>
      <a class="btn btn-primary"></a>
    </div>

    <div class="image">
      <img />
    </div>
</section> */

.hero {
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;

  gap: var(--space-lg) 0;
}

.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .copy {
}

.hero .copy h1 {
  max-width: 16ch;
}

.hero .copy p {
  max-width: 32ch;
}

.hero .copy p + p {
  padding-block-start: var(--space-sm);
}

.hero .copy .hero-cta {
  margin-block-start: var(--space-md);
}

.hero .image {
  align-items: center;
  padding-inline: var(--space-sm);
}

@media screen and (width > 768px) {
  .hero {
    flex-wrap: nowrap;
    gap: var(--space-lg) 0;
  }

  .hero > div {
    padding-inline: var(--space-lg);
  }
}
@media screen and (width > 1100px) {
  .hero {
    gap: var(--space-lg) 0;
  }

  .hero > div {
    padding-inline: 0;
  }
}
@media screen and (width > 1500px) {
  .hero {
  }
}
