button:has(span.icon) {
  /* min-width: fit-content; */
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.icon-xs svg {
  min-height: 10px;
  max-height: 10px;
  width: 10px;
}

.icon-sm svg {
  min-height: 20px;
  max-height: 20px;
  width: auto;
}

.icon-md svg {
  min-height: 40px;
  max-height: 40px;
  width: 40px;
}

.icon-lg svg {
  min-height: 60px;
  max-height: 60px;
  width: 60px;
}

.icon:hover {
  /* TODO */
}

.icon:active {
  /* TODO */
}

.icon.pink svg {
  fill: var(--color-primary);
}

.icon.white svg {
  fill: var(--white);
}
