button:has(span.icon) {
  /* min-width: fit-content; */
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.icon-xs {
  min-width: 10px;
}

.icon-sm {
  min-width: 20px;
}

.icon-md {
  min-width: 40px;
}

.icon-lg {
  min-width: 60px;
}

.icon:hover {
  /* TODO */
}

.icon:active {
  /* TODO */
}

.icon.pink svg {
  fill: var(--color-primary);
}

.icon.white svg {
  fill: var(--white);
}
