.partner-logos {
  min-height: 120px;
  padding-block: var(--space-sm);
  background-color: var(--color-primary-light);
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  position: relative;
}

.logo-group {
  margin-inline-end: var(--space-lg);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  /* position: absolute; */
  animation: scroll-left 6s linear infinite;
}

@media screen and (width > 450px) {
  .logo-group {
    animation: scroll-left 10s linear infinite;
  }
}
@media screen and (width > 768px) {
  .logo-group {
    animation: scroll-left 16s linear infinite;
  }
}
@media screen and (width > 900px) {
  .logo-group {
    animation: scroll-left 20s linear infinite;
  }
}
@media screen and (width > 1280px) {
  .logo-group {
    animation: scroll-left 30s linear infinite;
  }
}

.partner-logos picture {
  flex-shrink: 0;
  max-width: 100px;
  overflow: unset;
  border-radius: 0px;
}

.partner-logos img {
  border-radius: 0px;
  max-height: 60px;
  object-fit: contain;
  filter: grayscale(100%) brightness(40%) opacity(40%);
}

.dark-mode .partner-logos img {
  filter: grayscale(100%) brightness(40%) opacity(50%);
}

.partner-logos img:hover {
  filter: drop-shadow(0px 4px 16px var(--azalea-800));
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100vw);
  }
}
