.partner-logos {
  min-height: 80px;
  padding-block: var(--space-sm);
  background-color: var(--color-primary-light);
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  position: relative;
}

.logo-group {
  display: flex;
  gap: var(--space-xl);
  align-items: center;
  position: absolute;
  animation: scroll-left 30s linear infinite;
}

.partner-logos img {
  flex-shrink: 0;
  object-fit: contain;
  max-height: 50px;
  filter: grayscale(100%) brightness(40%) opacity(40%);
}

.partner-logos img:hover {
  filter: drop-shadow(16px 16px 20px var(--color-primary));
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
