.video-bkg {
  --header-height: calc(var(--header-img-height) + var(--header-padding));

  height: calc(100svh - var(--header-height));
  overflow: hidden;

  position: relative;
  padding: 0;
  display: grid;
  place-items: center;
}

.video-bkg > * {
  grid-area: 1 / 1;
}

@media screen and (width < 1024px) {
  .video-bkg {
    min-height: unset;
  }
}

.video-bkg video {
  border-radius: 0px;
}

.video-bkg .foreground {
  position: absolute;
  max-width: 700px;
  max-height: max-content;
  z-index: 1;
  background: rgba(63, 63, 70, 0.7);
  padding: var(--space-md);
  border-radius: var(--rounded-3xl);
}

.video-bkg .foreground h1,
.video-bkg .foreground p {
  color: var(--white);
  text-shadow: 1px 1px var(--black);
}

/* .video-bkg .foreground h1 {
  max-width: 50ch;
}
.video-bkg .foreground p {
  max-width: 70ch;
} */

.video-bkg .foreground .buttons {
  margin-block-start: var(--space-md);
}

.video-bkg .background {
  width: 100%;
  height: 100%;
}

.video-bkg .background video {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (width < 1024px) {
  .video-bkg .foreground {
    margin-inline: var(--space-xl);
    margin-block: var(--space-lg);
  }
}
@media screen and (width < 500px) {
  .video-bkg .foreground {
    padding: var(--space-sm);
    margin-inline: var(--space-sm);
    margin-block: var(--space-2xl);
  }
}
@media screen and (height < 500px) {
  .video-bkg {
    height: unset;
  }
  .video-bkg .foreground {
    margin-inline: var(--space-sm);
    margin-block: var(--space-2xl);
  }
}
