<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    {% if page.url == '/success/' %}
      <meta name="robots" content="noindex, nofollow">
      <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    {% endif %}
    {% if page.url == '/404/' %}
      <meta name="robots" content="noindex, nofollow">
      <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    {% endif %}
    <link rel="icon" type="image/png" href="/assets/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="EV Tours & Charter" />
    <link rel="manifest" href="/assets/img/site.webmanifest" />
    <link rel="stylesheet" href="/assets/css/styles-minified.css" />
    <script defer src="/assets/js/nav.js"></script>
    <script defer src="/assets/js/mobileMenu.js"></script>
    <script defer src="/assets/js/videoAutoplay.js"></script>
    {% comment %} <script
    defer
    data-domain="evtours.com.au"
    data-api="/pa-stats/api/event"
    src="/pa-stats/js/script.js"
    ></script> {% endcomment %}
    {% if page.url == '/' %}
      {% include "partials/_schema-home.liquid" %}
      <script defer src="/assets/js/ticker.js"></script>
      <script defer src="/assets/js/carousel.js"></script>
    {% endif %}
    {% if page.url == '/fleet/' %}
      <script defer src="/assets/js/showImageOnHover.js"></script>
    {% endif %}
    {% if page.url == '/contact/' %}
      <script defer src="/assets/js/contactFormValidations.js"></script>
    {% endif %}
    {% if page.url == '/services/corporate/' %}
      {% include "partials/_schema-corporate.liquid" %}
      <script defer src="/assets/js/corporateFormValidations.js"></script>
    {% endif %}
    {% if page.url == '/services/schools/' %}
      {% include "partials/_schema-schools.liquid" %}
      <script defer src="/assets/js/schoolFormValidations.js"></script>
    {% endif %}
    {% if page.url == '/services/tours/' %}
      {% include "partials/_schema-tours.liquid" %}
      <script defer src="/assets/js/tourFormValidations.js"></script>
    {% endif %}
    <script defer src="/assets/js/lazyImages.js"></script>
  </head>
  <body id="top">
    {% include 'partials/_header.html' %}
    <main>{{ content }}</main>
    {% include 'partials/_footer.html' %}
  </body>
</html>
