<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/styles-minified.css" />
    <script defer src="/assets/js/nav.js"></script>
  </head>
  <body id="top">
    {% include 'partials/_header.html' %}
    <main>{{ content }}</main>
    {% include 'partials/_footer.html' %}
  </body>
</html>
