/* Base */
@import "./base/_reset.css";
@import "./base/_brand.css";

/* Utilities */
@import "./utilities/_typography.css";
@import "./utilities/_colors.css";
@import "./utilities/_spacing.css";
@import "./utilities/_dark-mode.css";

/* Components */
@import "./components/_nav.css";
@import "./components/_header.css";
@import "./components/_footer.css";
@import "./components/_buttons.css";
@import "./components/_icons.css";
@import "./components/_hero.css";
@import "./components/_cards.css";
@import "./components/_ticker.css";
@import "./components/_back-to-top.css";

/* Pages */
@import "./pages/_home.css";
@import "./pages/_about.css";
@import "./pages/_services.css";
@import "./pages/_fleet.css";
@import "./pages/_contact.css";
@import "./pages/_404.css";

.show {
  display: inline-block;
}
.hide {
  display: none;
}

.mx-auto {
  margin-inline: auto;
}

/* If a user doesn't want motion, they won't get it */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1s !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
/* :root {
  --color-primary: --
  --color-primary-light:
  --co-lightlor-secondary:
  --color-secondary-light:
  -light
} */
