---
layout: base
title: Contact EV Tours & Charter | Book Your Next Journey
description: Ready to book your bus tour or charter? Get in touch with EV Tours & Charter for friendly assistance and hassle-free booking for your next trip.
---

<section class="line">
  <div class="contact-hero">
    <img
      src="{{ contact.hero.img.src }}"
      alt="{{ contact.hero.img.alt }}"
    />
    <div class="content">
      <h1>{{ contact.hero.heading }}</h1>
      {% for paragraph in contact.hero.text %}
      <p>{{ paragraph }}</p>
      {% endfor %}
      <div class="buttons">
        <a
          href="{{ home.call-to-action.primary-button-link }}"
          class="btn btn-primary"
          >{{ home.call-to-action.primary-button-text }}</a
        >
        <a
          href="{{ home.call-to-action.secondary-button-link }}"
          class="btn btn-secondary"
          >{{ home.call-to-action.secondary-button-text }}</a
        >
      </div>
    </div>
  </div>
  <div class="contact-details">
    <ul role="list">
      <li>
        {% include "icon.liquid", name: "phone", class: "icon icon-lg pink", aria_hidden: true %}
        <h3>{{ contact.phone.heading }}</h3>
        <p>{{ contact.phone.text }}</p>
        <a href="tel:{{ business.phone }}"> {{ business.phone }} </a>
      </li>

      <li>
        {% include "icon.liquid", name: "envelope", class: "icon icon-lg pink", aria_hidden: true %}
        <h3>{{ contact.email.heading }}</h3>
        <p>{{ contact.email.text }}</p>
        <a href="mailto:{{ business.email }}"> {{ business.email }} </a>
      </li>

      <li>
        {% include "icon.liquid", name: "location-dot", class: "icon icon-lg pink", aria_hidden: true %}
        <h3>{{ contact.address.heading }}</h3>
        <p>{{ contact.address.text }} {{ business.address }}.</p>
        <p>{{ contact.address.text2 }}</p>
      </li>

      <li>
        {% include "icon.liquid", name: "clock", class: "icon icon-lg pink", aria_hidden: true %}
        <h3>{{ contact.hours.heading }}</h3>
        {% for day in contact.hours.days %}
        <p>{{ day }}</p>
        {% endfor %}
      </li>
    </ul>
  </div>
</section>

<section class="">
  <h2>{{ contact.socials.heading }}</h2>
  <p>{{ contact.socials.text }}</p>
  {% for social in business.socials %} {% include "icon.liquid", name: social.icon, class: "icon icon-md pink",
  aria_hidden: true %}
  <a href="{{ social.link }}"> {{ social.platform }} </a>
  {% endfor %}
</section>
