---
layout: base
title: Exceptional Bus Tours & Charter Across Victoria | EV Tours & Charter
description: "Experience hassle-free, reliable transport with EV Tours & Charter. From winery tours to corporate events, we provide tailored, professional services for every journey."
---

<section class="hero top-gradient-bkg">
  <div class="copy">
    <h1>
      {% assign parts = home.hero.heading | split: home.hero.highlight %} {{ parts[0] }}<span class="highlight"
        >{{ home.hero.highlight }}</span
      >{{ parts[1] }}
    </h1>
    <p>{{ home.hero.caption }}</p>
    <a
      href="{{ home.hero.button-link }}"
      class="btn btn-primary hero-cta"
      >{{ home.hero.button }}</a
    >
  </div>
  <div class="image">
    <img
      src="{{ home.hero.image.src }}"
      alt="{{ home.hero.image.alt }}"
    />
  </div>
</section>

<div class="partner-logos">
  <div class="logo-group">
    {% for logo in partners.logos %}
    <img
      src="{{ logo.src }}"
      alt="{{ logo.alt }}"
    />
    {% endfor %} {% for logo in partners.logos %}
    <img
      src="{{ logo.src }}"
      alt="{{ logo.alt }}"
    />
    {% endfor %} {% for logo in partners.logos %}
    <img
      src="{{ logo.src }}"
      alt="{{ logo.alt }}"
    />
    {% endfor %} {% for logo in partners.logos %}
    <img
      src="{{ logo.src }}"
      alt="{{ logo.alt }}"
    />
    {% endfor %} {% for logo in partners.logos %}
    <img
      src="{{ logo.src }}"
      alt="{{ logo.alt }}"
    />
    {% endfor %}
  </div>
</div>

<section class="services">
  <div class="services-hero">
    <div class="flex">
      <div class="align-center">
        <h2>
          {% assign parts = home.services-hero.heading | split: home.services-hero.highlight %} {{ parts[0] }}<span
            class="highlight"
            >{{ home.services-hero.highlight }}</span
          >{{ parts[1] }}
        </h2>
        <p>{{ home.services-hero.caption }}</p>
        <a
          href="{{ home.services-hero.button-link }}"
          class="btn btn-primary hero-cta"
          >{{ home.hero.button }}</a
        >
      </div>
      <img
        src="{{ home.services-hero.image.src }}"
        alt="{{ home.services-hero.image.alt }}"
      />
    </div>
  </div>

  <div class="width-wrapper">
    <h2>Our services</h2>
    <ul
      role="list"
      class="cards"
    >
      {% for service in home.services %}
      <li class="card card-clickable">
        {% if service.icon != "" %} {% include "icon.liquid", name: service.icon, class: "icon icon-lg pink",
        aria_hidden: true %} {% endif %}
        <h3>{{ service.heading }}</h3>
        <p>{{ service.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="pink-bkg">
  <div class="difference">
    <img
      src="{{ home.points-of-difference.image.src }}"
      alt="{{ home.points-of-difference.image.alt }}"
    />

    <div class="content">
      <h2>{{ home.points-of-difference.heading }}</h2>
      <ul role="list">
        {% for difference in home.points-of-difference.differences %}
        <li style="display: flex; gap: 1rem">
          {% include "icon.liquid", name: "circle-check", class: "icon icon-sm", aria_hidden: true %}
          <div>
            <h3>{{ difference.name }}</h3>
            <p>{{ difference.description }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<div class="testimonials">
  <!-- <div class="testimonials-wrapper"> -->
  <ul
    role="list"
    class=""
  >
    {% for testimonial in home.testimonials %}
    <li>
      <div class="stars">
        {% include "icon.liquid", name: "star", class: "icon icon-sm pink", aria_hidden: true %} {% include
        "icon.liquid", name: "star", class: "icon icon-sm pink", aria_hidden: true %} {% include "icon.liquid", name:
        "star", class: "icon icon-sm pink", aria_hidden: true %} {% include "icon.liquid", name: "star", class: "icon
        icon-sm pink", aria_hidden: true %} {% include "icon.liquid", name: "star", class: "icon icon-sm pink",
        aria_hidden: true %}
      </div>
      <p>{{ testimonial }}</p>
    </li>
    {% endfor %}
  </ul>
  <!-- </div> -->
</div>

<section class="hero bottom-gradient-bkg">
  <div class="copy">
    <h2>{{ home.call-to-action.heading }}</h2>
    {% for paragraph in home.call-to-action.text %}
    <p>{{ paragraph }}</p>
    {% endfor %}
    <div class="buttons hero-cta">
      <a
        href="{{ home.call-to-action.primary-button-link }}"
        class="btn btn-primary"
        >{{ home.call-to-action.primary-button-text }}</a
      >
      <a
        href="{{ home.call-to-action.secondary-button-link }}"
        class="btn btn-secondary"
        >{{ home.call-to-action.secondary-button-text }}</a
      >
    </div>
  </div>
  <div class="image">
    <img
      src="assets/img/placeholder-image.webp"
      alt="{{ home.call-to-action.image-alt }}"
    />
  </div>
</section>
