---
layout: base
title: Tailored Bus Tours & Charter Services | EV Tours & Charter
description: Explore our range of bus charter services, including school transport, winery tours, corporate transfers, and interstate travel. Reliable and flexible solutions for every need.
---

<section class="lines">
  <div class="sp-wrapper">
    <div class="sp-title">
      <img
        src="{{ services.hero.image.src }}"
        alt="{{ services.hero.image.alt }}"
      />
      <div>
        <h1>{{ services.hero.heading }}</h1>
        <p>{{ services.hero.text }}</p>
      </div>
    </div>
    <!-- <p>{{ services.hero.subheading }}</p> -->
    <ul role="list">
      {% for service in services.services %}
      <li class="sp-card">
        {% if service.icon != "" %} {% include "icon.liquid", name: service.icon, class: "icon icon-lg pink
        sp-card-icon", aria_hidden: true %} {% endif %}
        <h3>{{ service.heading }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  {% for service in services.services %}
  <section class="side-by-side">
    <img
      src="{{ service.image.src }}"
      alt="{{ service.image.alt }}"
    />
    <div class="content">
      <h2>{{ service.heading }}</h2>
      <p>{{ service.text }}</p>
      {% if service.points %}
      <ul role="list">
        {% for point in service.points %}
        <li>
          <h3>{{ point }}</h3>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
</section>
{% endfor %}

<section class="services-cta ">
  <h2>{{ services.cta.heading }}</h2>
  {% for paragraph in services.cta.text %}
  <p>{{ paragraph }}</p>
  {% endfor %}
  <div class="buttons hero-cta">
    <a
      href="{{ home.call-to-action.primary-button-link }}"
      class="btn btn-primary"
      >{{ home.call-to-action.primary-button-text }}</a
    >
    <a
      href="{{ home.call-to-action.secondary-button-link }}"
      class="btn btn-secondary"
      >{{ home.call-to-action.secondary-button-text }}</a
    >
  </div>
</section>
