<footer>
  <a
    id="back-to-top"
    class="btn back-to-top"
    href="#top"
    aria-label="Scroll back to the top of the page"
  >
    {% include "icon.liquid", name: "circle-up", class: "icon", aria_hidden: true %}
  </a>
  <a href="/">
    <img
      src="/assets/img/EV-tours-logo-white.png"
      alt="Logo for Ev Tours & Charter"
    />
  </a>
  <div class="details">
    <p>© {{ business.copyright }} {{ "now" | date: "%Y" }}</p>
    <p>{{ business.address }}</p>
    <p>{{ business.phone }}</p>
    <p>{{ business.email }}</p>
    <p>ABN: {{ business.abn }}</p>
    <p class="rocketzip">
      Website by
      <a
        href="https://rocketzip.com.au"
        target="_blank"
      >
        Rocketzip
      </a>
    </p>
  </div>
</footer>
