<form
  method="POST"
  autocomplete="on"
  class="form"
  name="form-school"
  data-netlify="true"
  data-netlify-recaptcha="true"
>
  <fieldset>
    <div class="form-items">
      <div>
        <label
          id="fullNameLabel"
          for="fullName"
          >Full Name *</label
        >
        <span aria-live="polite"></span>
        <input
          type="text"
          id="fullName"
          name="fullName"
          aria-label="Full Name"
          aria-labelledby="fullNameLabel"
          required
          minlength="2"
          pattern="^[a-zA-Z ]*$"
        />
        <span aria-live="polite"></span>
      </div>
      <div>
        <label
          id="schoolLabel"
          for="school"
          >School *</label
        >
        <span aria-live="polite"></span>
        <input
          type="text"
          id="school"
          name="school"
          aria-label="School"
          aria-labelledby="schoolLabel"
          required
          minlength="2"
          pattern="^[a-zA-Z ]*$"
        />
        <span aria-live="polite"></span>
      </div>
    </div>

    <div class="form-items">
      <div>
        <label
          id="emailLabel"
          for="email"
          >Email Address *</label
        >
        <span aria-live="polite"></span>
        <input
          type="email"
          id="email"
          name="email"
          aria-label="Email Address"
          aria-labelledby="emailLabel"
          required
          minlength="5"
        />
        <span aria-live="polite"></span>
      </div>

      <div>
        <label
          id="phoneLabel"
          for="phone"
          >Phone Number *</label
        >
        <span aria-live="polite"></span>
        <input
          type="tel"
          id="phone"
          name="phone"
          aria-label="Phone Number"
          aria-labelledby="phoneLabel"
          required
          minlength="10"
          pattern="^\s*\+?[0-9\s]*\s*$"
        />
        <span aria-live="polite"></span>
      </div>
    </div>
  </fieldset>
  <fieldset>
      <label
        id="serviceTypeLabel"
        for="serviceType"
        >Type of service *</label
      >
      <span
        aria-live="polite"
        class="bump-left"
      ></span>
      <select
        id="serviceType"
        name="serviceType"
        aria-label="Service type"
        aria-labelledby="serviceTypeLabel"
        required
      >
        <option
          value=""
          disabled
          selected
        >
          Select a service
        </option>
        <option value="swimming">Swimming</option>
        <option value="sports">Sports</option>
        <option value="camps">Camp</option>
        <option value="excursions">Excursion</option>
      </select>
      <span aria-live="polite"></span>
  </fieldset>
  <fieldset>
    <div>
      <label
        id="itineraryLabel"
        for="itinerary"
        >Tell us more detail *</label
      >
      <span
        aria-live="polite"
        class="bump-up"
      ></span>
      <textarea
        id="itinerary"
        name="itinerary"
        rows=2"
        aria-label="Itinerary"
        aria-labelledby="itineraryLabel"
        required
        minlength="10"
        maxlength="600"
      ></textarea>
      <span aria-live="polite"></span>
    </div>
  </fieldset>
  <div class="widget">
    <div data-netlify-recaptcha="true"></div>
    <!-- <div
      id="cf-turnstile"
      data-sitekey="1x00000000000000000000AA"
    ></div> -->
  </div>
  <button
    type="submit"
    id="formSubmitBtn"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
