<header>
  <a href="/">
    <img
      src="/assets/img/EV-tours-logo-white.png"
      alt="Logo for Ev Tours & Charter"
      data-above-the-fold="true"
      sizes="100vw"
    />
  </a>

  <nav
    id="menu"
    class="menu"
  >
    <ul role="list">
      {% for link in nav.links %}
      <li>
        {% if link.link %}
        <a
          href="{{ link.link }}"
          class="{% if page.url == link.link %}active{% endif %}"
        >
          {{ link.name }}
        </a>
        {% else %}
        <button
          id="submenu-btn"
          class="btn"
          aria-expanded="false"
        >
          {{ link.name }}
        </button>
        {% endif %} {% if link.sublinks %}
        <ul
          id="submenu"
          class="submenu"
        >
          {% for sublink in link.sublinks %}
          <li class="sublink">
            <a
              href="{{ sublink.link }}"
              class="{% if page.url == sublink.link %}active{% endif %}"
            >
              {{ sublink.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="header-buttons">
    <a
      href="tel:{{ business.phone }}"
      class="btn btn-primary nav-cta"
    >
      {% include "icon.liquid", name: "phone", class: "icon icon-sm", aria_hidden: true %} {{ business.phone }}
    </a>

    <button
      id="nav-toggle"
      class="btn toggle-switch"
      aria-expanded="false"
      aria-label="Toggle menu"
    >
      {% include "icon.liquid", name: "bars", id: "open-menu-icon" class: "icon icon-md white", tooltip: "Open the
      menu." %} {% include "icon.liquid", name: "xmark", id: "close-menu-icon" class: "icon icon-md white hide",
      tooltip: "Close the menu." %}
    </button>
  </div>
</header>

<nav
  id="mobile-menu"
  class="mobile-menu"
  aria-hidden="true"
  aria-labelledby="nav-toggle"
>
  <ul role="list">
    {% for link in nav.links %}
    <li>
      {% if link.link %}
      <a
        href="{{ link.link }}"
        class="{% if page.url == link.link %}active{% endif %}"
      >
        {{ link.name }}
      </a>
      {% else %}
      <p>{{ link.name }}</p>
      {% endif %} {% if link.sublinks %}
      <ul class="submenu">
        {% for sublink in link.sublinks %}
        <li class="sublink">
          <a
            href="{{ sublink.link }}"
            class="{% if page.url == sublink.link %}active{% endif %}"
          >
            {{ sublink.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
