<header>
  <a href="/">
    <img
      src="/assets/img/EV-tours-logo-white.png"
      alt="Logo for Ev Tours & Charter"
    />
  </a>

  <nav
    id="menu"
    class="menu"
  >
    <ul role="list">
      {% for link in nav.links %}
      <li>
        <a
          href="{{ link.link }}"
          class="{% if page.url == link.link %}active{% endif %}"
        >
          {{ link.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="header-buttons">
    <button
      id="dark-mode-toggle"
      class="btn toggle-switch"
      aria-label="dark mode toggle"
    >
      {% include "icon.liquid", name: "sun", class: "icon pink sun-icon hide", tooltip: "Activate light mode." %} {%
      include "icon.liquid", name: "moon", class: "icon pink moon-icon", title: "Activate dark mode." %}
    </button>

    <a
      href="tel:{{ business.phone }}"
      class="btn btn-primary nav-cta"
    >
      {% include "icon.liquid", name: "phone", class: "icon", aria_hidden: true %} {{ business.phone }}
    </a>
  </div>
</header>
